:root {
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);

    --White: hsl(235, 100%, 100%);

}

*,
*::after,
*::before,
* *,
* *::after,
* *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--DesaturatedDarkBlue);
    font-family: "Manrope", sans-serif;
}

BODY {
    background: var(--LightGrayishBlue);
    width: 100%;
    min-height: 100vh;
    font-size: 13px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


IMG {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

A {
    background: none;
    text-decoration: none;
    color: inherit;
}

H1,
H2 {
    font-weight: 700;
}

H1 {
    color: var(--VeryDarkGrayishBlue);
    font-size: 1.4rem;
}

H2 {
    font-size: 1rem;
}

P {
    font-size: 1.2em;
}

SPAN {
    display: block;
}

BUTTON {

    width: 2rem;
    height: 2rem;
    border: none;
    background: none;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

SVG {
    height: 100%;
    width: auto;
}

MAIN {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social_icon {
    fill: #ffffff;
}

.share_btn {
    fill: hsl(214, 17%, 51%);
    background: var(--LightGrayishBlue);
    border-radius: 50%;

}

.share_btn:hover {
    fill: var(--White);
    background: var(--DesaturatedDarkBlue);
}

.icon_container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card {
    background: var(--White);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    max-width: 450px;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
}

.card_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.user_setup {
    position: relative;
    width: 100%;
}

.user_data,
.user_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
}

.user,
.btns_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.user {
    gap: 1rem;
}

.user_links {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--VeryDarkGrayishBlue);
    color: var(--LightGrayishBlue);
    display: none;
}

.user_links .share_btn {
    fill: var(--White);
    background: var(--DesaturatedDarkBlue);
}

.share_text {
    letter-spacing: .2rem;
    margin-right: .5rem;
}

.user_links .share_btn:hover {

    fill: hsl(214, 17%, 51%);
    background: var(--LightGrayishBlue);
}

.show {
    display: flex;
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    ;
}

.data_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.attribution P {
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
}

A {
    color: var(--VeryDarkGrayishBlue);
}

@media screen and (min-width:1200px) {
    .card {
        flex-direction: row;
        max-width: 1010px;
    }


    .user_links {
        top: calc(-100% + 2rem);
        right: 0;
        left: inherit;
        width: fit-content;
        border-radius: 1rem;
        height: fit-content;
    }

    .user_links .share_btn {
        display: none;
    }


}